
 <section class="shop-list section-padding">
    <a href="#"><img class="img-fluid mb-3" src="https://firebasestorage.googleapis.com/v0/b/oshop-d5d87.appspot.com/o/bannerCen.png?alt=media&token=15f91462-3807-4c17-bd55-7f77c7aabc35" alt=""></a>
    <div class="shop-head">
      <a [routerLink]="[ '/home']"><span class="mdi mdi-home"></span> Home</a> <span class="mdi mdi-chevron-right"></span> <a href="#">Tienda</a> <span class="mdi mdi-chevron-right"></span> 
       <!-- <div class="btn-group float-right mt-2">
          <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by Products &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button>
          <div class="dropdown-menu dropdown-menu-right">
             <a class="dropdown-item" href="#">Relevance</a>
             <a class="dropdown-item" href="#">Price (Low to High)</a>
             <a class="dropdown-item" href="#">Price (High to Low)</a>
             <a class="dropdown-item" href="#">Discount (High to Low)</a>
             <a class="dropdown-item" href="#">Name (A to Z)</a>
          </div>
       </div> -->
       <!-- <h5 class="mb-3">Fruits</h5> -->
    </div>
<!--categorias-->
<div class="row">
  <div class="col-md-3 col-sm-12">
    <product-filter [selectedCategory]="category"></product-filter>
  </div>


  <div class="col-md-9 col-sm-12">
    <div class="row" *ngIf="cart$ | async as cart">
      <ng-container *ngFor="let product of filteredProducts; let i = index">
        <div class="col">
          <product-card [product]="product" [width]="20" [shopping-cart]="cart"></product-card>
        </div>
        <div class="w-100" *ngIf="(i+1)%2 === 0"></div>
      </ng-container>
      <hr>
      <hr>
    </div>
  </div>

</div>
 </section>