 



<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/imagenes/banner4.png">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/imagenes/banner3.png" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src=
      "/assets/imagenes/slider3.png" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>

</ngb-carousel>

 
 