 <section class="carousel-slider-main text-center border-top border-bottom bg-white">
    <div class="owl-carousel owl-carousel-slider">
       <div class="item">
          <a href="http://askbootstrap.com/preview/osahan-grocery/shop.html"><img class="img-fluid" src="http://askbootstrap.com/preview/osahan-grocery/img/slider/slider1.jpg" alt="First slide"></a>
       </div>
       <div class="item">
          <a href="http://askbootstrap.com/preview/osahan-grocery/shop.html"><img class="img-fluid" src="http://askbootstrap.com/preview/osahan-grocery/img/slider/slider2.jpg" alt="First slide"></a>
       </div>
    </div>
 </section>