 



<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://firebasestorage.googleapis.com/v0/b/oshop-d5d87.appspot.com/o/slider5.png?alt=media&token=a5863754-f8cb-46a1-9418-4f36c63a6ea3" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://firebasestorage.googleapis.com/v0/b/oshop-d5d87.appspot.com/o/slider3.png?alt=media&token=03b188c1-fdd3-4386-b01b-192f6c4dd9c2" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://firebasestorage.googleapis.com/v0/b/oshop-d5d87.appspot.com/o/slider2.png?alt=media&token=078cfe5f-95a9-416f-8f0b-751199d01079" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
</ngb-carousel>

 
 