
  
         
                  
                    
                       
                           <div *ngIf="appUser; else notLoggerUser" class="card account-left">
                              <div class="user-profile-header">
                                  <img src="{{appUser.foto}}" class="rounded-circle">
                                 <h5 class="mb-1 text-secondary"><strong>Hola</strong> {{appUser.name || appUser.email}}</h5>
                                 <p> +91 8568079956</p>
                              </div>
                            
                           </div>
                        
                        
                     
   
                     
                  
               
          
              
            
              
    