 <!--primer slider -->
 <section class="top-category section-padding">
      <div class="container">
         <div class="owl-carousel owl-carousel-category">
            <div class="item">
               <div class="category-item">
                  <a href="#">
                     <img class="img-fluid" 
                     src="/assets/imagenes/bannerS/img1b.jpg" alt="">
                     <h6>Leche Completa</h6>
                     <p>Purisima</p>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="category-item">
                  <a href="#">
                     <img class="img-fluid" 
                     src="/assets/imagenes/bannerS/img2b.jpg" alt="">
                     <h6>Leche Descremada</h6>
                     <p>Purisima</p>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="category-item">
                  <a href="#">
                     <img class="img-fluid" 
                     src="/assets/imagenes/bannerS/img3b.jpg" alt="">
                     <h6>Jugos</h6>
                     <p>El Tunal</p>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="category-item">
                  <a href="#">
                     <img class="img-fluid" 
                     src="/assets/imagenes/bannerS/img4b.jpg" alt="">
                     <h6>Te frio</h6>
                     <p>El Tunal</p>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="category-item">
                  <a href="#">
                     <img class="img-fluid" src="/assets/imagenes/bannerS/jdt.jpg"alt="">
                     <h6>Jugos Durazno</h6>
                     <p>El Tunal</p>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="category-item">
                  <a href="#">
                     <img class="img-fluid" src="/assets/imagenes/bannerS/jnt.jpg" alt="">
                     <h6>Household Needs</h6>
                     <p>325 Items</p>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="category-item">
                  <a href="#">
                     <img class="img-fluid" src="/assets/imagenes/bannerS/jpt.jpg" alt="">
                     <h6>Personal Care</h6>
                     <p>156 Items</p>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="category-item">
                  <a href="#">
                     <img class="img-fluid" src="/assets/imagenes/bannerS/lpp.jpg" alt="">
                     <h6>Breakfast & Dairy</h6>
                     <p>857 Items</p>
                  </a>
               </div>
            </div>
            <!-- <div class="item">
               <div class="category-item">
                  <a href="#">
                     <img class="img-fluid" src="http://askbootstrap.com/preview/osahan-grocery/img/small/9.jpg" alt="">
                     <h6>Biscuits, Snacks & Chocolates</h6>
                     <p>48 Items</p>
                  </a>
               </div>
            </div> -->
            <div class="item">
               <div class="category-item">
                  <a href="#">
                     <img class="img-fluid" src="/assets/imagenes/bannerS/pep2l.png" alt="">
                     <h6>Noodles, Sauces & Instant Food</h6>
                     <p>156 Items</p>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="category-item">
                  <a href="#">
                     <img class="img-fluid" src="/assets/imagenes/bannerS/ch.jpg" alt="">
                     <h6>Pet Care</h6>
                     <p>568 Items</p>
                  </a>
               </div>
            </div>
           
         </div>
      </div>
   </section>

 
     <ngbd-carousel-navigation> </ngbd-carousel-navigation>

   <hr>

   <section class="section-padding">
      <div class="section-title text-center mb-5">
         <h2 style="color: #e96125!important">Nuestros Servicios</h2>
         <p>.</p>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-4">
               <div class="mt-4 mb-4"><i class="text-success mdi mdi-shopping mdi-48px"></i></div>
               <h5 class="mt-3 mb-3 text-secondary">Los Mejores precios y Ofertas</h5>
               <p>Siempre estaremos Llevando Ofertas en muchos de nuestros productos, precios de competencia  .</p>
            </div>
            <div class="col-lg-4 col-md-4">
               <div class="mt-4 mb-4"><i class="text-success mdi mdi-earth mdi-48px"></i></div>
               <h5 class="mb-3 text-secondary">Amplio Surtido</h5>
               <p>Estaremos en Constantes Actualizacion de nuestros inventarios   .</p>
            </div>
            <div class="col-lg-4 col-md-4">
               <div class="mt-4 mb-4"><i class="text-success mdi mdi-refresh mdi-48px"></i></div>
               <h5 class="mt-3 mb-3 text-secondary">Proceso de cambio </h5>
               <p>Soporte al instante por si necesitas realizar algún reclamo o solicitud .</p>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-4 col-md-4">
               <div class="mt-4 mb-4"><i class="text-success mdi mdi-truck-fast mdi-48px"></i></div>
               <h5 class="mb-3 text-secondary">Entrega Gratuita  </h5>
               <p>Entrega Gratuitas al procesar tu pago. Nos mantendremos en contacto para garantizar la entrega de tus productos .</p>
            </div>
            <div class="col-lg-4 col-md-4">
               <div class="mt-4 mb-4"><i class="text-success mdi mdi-basket mdi-48px"></i></div>
               <h5 class="mt-3 mb-3 text-secondary">100% Satisfacción Garantizada</h5>
               <p>Haremos lo imposible por llevar a Feliz termino el proceso de compra para que puedas sentirte a gusto con nosotros .</p>
            </div>
            <div class="col-lg-4 col-md-4">
               <div class="mt-4 mb-4"><i class="text-success mdi mdi mdi-tag-heart mdi-48px"></i></div>
               <h5 class="mt-3 mb-3 text-secondary">Grandes ofertas diarias de descuentos </h5>
               <p>Siempre atentos a nuestros descuentos diario, Regalos Sorpresa a nuestros clientes  te sorprenderas .</p>
            </div>
         </div>
      </div>
   </section>

  
   <section class="offer-product">
      <div class="container">
         <div class="row no-gutters">
            <div class="col-md-6">
               <a href="#"><img class="img-fluid" src="./assets/imagenes/bannerC1.jpg" alt=""></a>
            </div>
            <div class="col-md-6">
               <a href="#"><img class="img-fluid" src="./assets/imagenes/bannerC1.jpg" alt=""></a>
            </div>
         </div>
      </div>
   </section>
   <section class="product-items-slider section-padding">
      <div class="container">
         <div class="section-header">
            <h5 class="heading-design-h5">Las Mejores Ofertas<span class="badge badge-info">20% OFF</span>
               <a class="float-right text-secondary" href="#">View All</a>
            </h5>
         </div>
         <div class="owl-carousel owl-carousel-featured">
            <div class="item">
               <div class="product">
                  <a href="">
                     <div class="product-header">
                        <span class="badge badge-success">50% OFF</span>
                        <img class="img-fluid" src="" alt="">
                        <span class="veg text-success mdi mdi-circle"></span>
                     </div>
                     <div class="product-body">
                        <h5>{{product.title}}</h5>
                        <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                     </div>
                     <div class="product-footer">
                        <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                        <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                     </div>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="product">
                  <a href="">
                     <div class="product-header">
                        <span class="badge badge-success">50% OFF</span>
                        <img class="img-fluid" src="" alt="">
                        <span class="non-veg text-danger mdi mdi-circle"></span>
                     </div>
                     <div class="product-body">
                        <h5>Product Title Here</h5>
                        <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                     </div>
                     <div class="product-footer">
                        <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                        <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                     </div>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="product">
                  <a href="">
                     <div class="product-header">
                        <span class="badge badge-success">50% OFF</span>
                        <img class="img-fluid" src="" alt="">
                        <span class="non-veg text-danger mdi mdi-circle"></span>
                     </div>
                     <div class="product-body">
                        <h5>Product Title Here</h5>
                        <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                     </div>
                     <div class="product-footer">
                        <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                        <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                     </div>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="product">
                  <a href="">
                     <div class="product-header">
                        <span class="badge badge-success">50% OFF</span>
                        <img class="img-fluid" src="" alt="">
                        <span class="veg text-success mdi mdi-circle"></span>
                     </div>
                     <div class="product-body">
                        <h5>Product Title Here</h5>
                        <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                     </div>
                     <div class="product-footer">
                        <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                        <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                     </div>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="product">
                  <a href="">
                     <div class="product-header">
                        <span class="badge badge-success">50% OFF</span>
                        <img class="img-fluid" src="" alt="">
                        <span class="veg text-success mdi mdi-circle"></span>
                     </div>
                     <div class="product-body">
                        <h5>Product Title Here</h5>
                        <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                     </div>
                     <div class="product-footer">
                        <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                        <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                     </div>
                  </a>
               </div>
            </div>
            <div class="item">
               <div class="product">
                  <a href="">
                     <div class="product-header">
                        <span class="badge badge-success">50% OFF</span>
                        <img class="img-fluid" src="" alt="">
                        <span class="veg text-success mdi mdi-circle"></span>
                     </div>
                     <div class="product-body">
                        <h5>Product Title Here</h5>
                        <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                     </div>
                     <div class="product-footer">
                        <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                        <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="section-padding bg-white border-top">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-sm-6">
               <div class="feature-box">
                  <i class="mdi mdi-truck-fast"></i>
                  <h6>Entregas Gratuitas</h6>
                  <p>Despues de Conciliar tu pago enviamos tu mercancia </p>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6">
               <div class="feature-box">
                  <i class="mdi mdi-basket"></i>
                  <h6>Satisfación 100% Garantizada</h6>
                  <p>Nos Comprometemos a darte un servicio de calidad</p>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6">
               <div class="feature-box">
                  <i class="mdi mdi-tag-heart"></i>
                  <h6>Grandes descuentos </h6>
                  <p>Aprovecha nuestras ofertas diarias, Regalos Sorpresas </p>
               </div>
            </div>
         </div>
      </div>
   </section>