<div class="sticky-top">
  <ul class="list-group" *ngIf="category$ | async as categories">
    <a class="list-group-item list-group-item-action" [class.active]="!selectedCategory" [routerLink]="['/']">Todas Las Categorias</a>
    <a *ngFor="let category of categories" [class.active]="selectedCategory === category.$key " [routerLink]="['/']" [queryParams]="{category:category.$key}"
      class="list-group-item list-group-item-action">
      {{category.name}}
    </a>
  </ul>


  <div class="left-ad mt-4 sticky-top ">
    <img class="img-fluid" src="./assets/imagenes/bannerIz1.jpg" alt="">
   </div>
</div>

