<section class="not-found-page section-padding">
  <div class="container">
     <div class="row">
        <div class="col-md-8 mx-auto text-center  pt-4 pb-5">
           <h1><img class="img-fluid" src="http://askbootstrap.com/preview/osahan-grocery-v1-3/img/404.png" alt="404"></h1>
           <h1>Lo Sentimos!Pagina no encontrada.</h1>
           <p class="land">Desafortunadamente la pagina que buscas ha sido movida o borrada.</p>
           <div class="mt-5">
              <a [routerLink]="[ '/home']" class="btn btn-success btn-lg"><i class="mdi mdi-home"></i> IR A LA PAGINA DE INICIO </a>
           </div>
        </div>
     </div>
  </div>
</section>