



<div class="align-center-flex">
  <div class="card row col-md-6">
    <div class="card-body">

      <h1 class="card-text">Registrarse <i class="fa fa-sign-in" aria-hidden="true"></i></h1>
      <hr>

      <div class="row">
          <div class="col-lg-12">
            <form (ngSubmit)="onSubmit( f )"
            #f="ngForm"  novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input #email="ngModel"  
                [(ngModel)]="appUser.email" 
                name="email" type="text" 
                class="form-control" 
                id="email" required>
               
              </div>
        
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <div class="input-group">
                  <span class="input-group-addon"></span>
                  <input  [(ngModel)]="appUser.name" 
                  name="name" 
                  type="text" 
                  class="form-control" 
                  id="name" 
                  minlength="6"
                  placeholder="nombre ">
                </div>
                
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                  <span class="input-group-addon"></span>
                  <input  [(ngModel)]="appUser.password" 
                  name="password" 
                  type="password" 
                  class="form-control" 
                  id="password" 
                  minlength="6"
                  placeholder="****** "
                  required>
                </div>
                
              </div>
        
              <div class="form-group">
                  <label for="password">Confirmar Password</label>
                  <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input  [(ngModel)]="appUser.password" 
                    name="password" 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    minlength="6"
                    placeholder="****** ">
                  </div>
                  
                </div>
        
  
        
             <div class="form-group">
                <button type="submit" class="btn btn-lg btn-secondary btn-block"  [disabled]="f.invalid">Crear Cuenta</button>

             </div>
        
            </form>
          </div>
          <div class="custom-control custom-checkbox">
              <input [(ngModel)]="acuerdo" type="checkbox" class="custom-control-input" id="ac">
              <label class="custom-control-label" for="ac">Estoy de Acuerdo <a href="#">Terminos y Condiciones</a></label>
           </div>
           <hr>
           <p>Ya estoy Registrado
              <a    [routerLink]="[ '/login' ]"  style="color:dodgerblue">Login</a>
            </p>
        </div>
        

      
    </div>
  </div>
</div>
