     <!-- Inner Header -->
     <section class="section-padding bg-dark inner-header">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h1 class="mt-0 mb-3 text-white">Contactanos</h1>
               <div class="breadcrumbs">
                  <p class="mb-0 text-white"><a class="text-white" href="#">Home</a>  /  <span class="text-success">Contact Us</span></p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Inner Header -->
   <!-- Contact Us -->
   <section class="section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-4">
               <h3 class="mt-1 mb-5">Ubicanos</h3>
               <h6 class="text-dark"><i class="mdi mdi-home-map-marker"></i> Dirección :</h6>
               <p>Av Antonio de Berrios local 1 San Felix </p>
               <h6 class="text-dark"><i class="mdi mdi-phone"></i> Telf :</h6>
               <p>+286 9712249, (+086) 9740498</p>
               <h6 class="text-dark"><i class="mdi mdi-deskphone"></i> Celular  :</h6>
               <p> 0424 9736104, 0424 1029391</p>
               <h6 class="text-dark"><i class="mdi mdi-email"></i> Email :</h6>
               <p>soporte@mercamovil.web.app, info@mercamovil.web.app</p>
               <h6 class="text-dark"><i class="mdi mdi-link"></i> Website :</h6>
               <p>https://mercamovil.web.app</p>
               <div class="footer-social"><span>Siguenos : </span>
                  <a href="#"><i class="mdi mdi-facebook"></i></a>
                  <a href="#"><i class="mdi mdi-twitter"></i></a>
                  <a href="#"><i class="mdi mdi-instagram"></i></a>
                  <a href="#"><i class="mdi mdi-google"></i></a>
               </div>
            </div>
            <div class="col-lg-8 col-md-8">
               <div class="card">
                  <div class="card-body">
                     <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:Ej9Bdi4gQW50b25pbyBkZSBCZXJyaW8sIENpdWRhZCBHdWF5YW5hIDgwNTEsIEJvbMOtdmFyLCBWZW5lenVlbGEiLiosChQKEglPiBUJPPDLjRENpstCj1wG6xIUChIJSQsghCvwy40RFE2XfH8xBW4&key=AIzaSyDqMVWEI7AtwghQCDELfHGBUXh5t0-GSC8" 
                     width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Contact Us -->
