  <!-- Inner Header -->
  <section class="section-padding bg-dark inner-header">
    <div class="container">
       <div class="row">
          <div class="col-md-12 text-center">
             <h1 class="mt-0 mb-3 text-white">Conoce mas </h1>
             <div class="breadcrumbs">
                <p class="mb-0 text-white"><a class="text-white" href="#">Home</a>  /  <span class="text-success">Conoce mas </span></p>
             </div>
          </div>
       </div>
    </div>
 </section>

  <!-- About -->
  <section class="section-padding bg-white">
    <div class="container">
       <div class="row">
          <div class="pl-4 col-lg-5 col-md-5 pr-4">
             <img class="rounded img-fluid" src="http://askbootstrap.com/preview/osahan-grocery-v1-3/img/about.jpg" alt="Card image cap">
          </div>
          <div class="col-lg-6 col-md-6 pl-5 pr-5">
             <h2 class="mt-5 mb-5 text-secondary">Ofrecemos Productos de Alta calidad garantizando tu Satisfacción Por Eso Grupo C-137 Llego para quedarse.</h2>
             <h5 class="mt-2">Nuestra Vision</h5>
             <p>Llegamos para convertinos en la empresa de tu preferencia a la hora de comprar tus productos online,
                ofreciendo Productos de primera Atención oportuna y Servicio esmerado
             </p>
             <h5 class="mt-4">Nuestra Meta</h5>
             <p>Queremos convertinos en la opción principal de todo el pueblo de Ciudad Guayana a l hora de hacer tu compras online y luego pasar 
                hacer la opción de todo el País 
             </p>
          </div>
       </div>
    </div>
 </section>
 <!-- End About -->
 <!-- What We Provide -->
 <section class="section-padding">
    <div class="section-title text-center mb-5">
       <h2>Que Ofrecemos?</h2>
       <p>.</p>
    </div>
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-md-4">
             <div class="mt-4 mb-4"><i class="text-success mdi mdi-shopping mdi-48px"></i></div>
             <h5 class="mt-3 mb-3 text-secondary">Los Mejores precios y Ofertas</h5>
             <p>Siempre estaremos Llevando Ofertas en muchos de nuestros productos, precios de competencia  .</p>
          </div>
          <div class="col-lg-4 col-md-4">
             <div class="mt-4 mb-4"><i class="text-success mdi mdi-earth mdi-48px"></i></div>
             <h5 class="mb-3 text-secondary">Amplio Surtido</h5>
             <p>Estaremos en Constantes Actualizacion de nuestros inventarios   .</p>
          </div>
          <div class="col-lg-4 col-md-4">
             <div class="mt-4 mb-4"><i class="text-success mdi mdi-refresh mdi-48px"></i></div>
             <h5 class="mt-3 mb-3 text-secondary">Proceso de cambio </h5>
             <p>Soporte al instante por si necesitas realizar algún cambio de tus productos .</p>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-4 col-md-4">
             <div class="mt-4 mb-4"><i class="text-success mdi mdi-truck-fast mdi-48px"></i></div>
             <h5 class="mb-3 text-secondary">Entrega Gratuita & </h5>
             <p>Entrega Gratuitas al procesar tu pago siempre nos mantendremos en contacto para garantizar la entrega de tus productos .</p>
          </div>
          <div class="col-lg-4 col-md-4">
             <div class="mt-4 mb-4"><i class="text-success mdi mdi-basket mdi-48px"></i></div>
             <h5 class="mt-3 mb-3 text-secondary">100% Satifacción Garantizada</h5>
             <p>Haremos lo imposible por llevar a Feliz ermino el proceso de compra para que puedas sentirte a gusto con nosotros .</p>
          </div>
          <div class="col-lg-4 col-md-4">
             <div class="mt-4 mb-4"><i class="text-success mdi mdi mdi-tag-heart mdi-48px"></i></div>
             <h5 class="mt-3 mb-3 text-secondary">Grandes ofertas diarias de descuentos </h5>
             <p>Siempre atentos a nuestros descuentos diario te sorprenderas .</p>
          </div>
       </div>
    </div>
 </section>
 <!-- End What We Provide -->
