
<form #checkOutForm="ngForm" (ngSubmit)="save(checkOutForm.value)" novalidate>
   

    <div class="form-group">
      <label for="addressLine1">Direccion Se Detallista </label>
      <input type="text" name="addressLine1" ngModel #addressLine1="ngModel" for="addressLine1" class="form-control" required>
      <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
       Linea 1 de Direccion es Requerida
      </div>
    </div>
<h2>A Quien se lo Enviamos</h2>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" ngModel #nombre="ngModel" for="nombre" class="form-control" required>
      <div class="alert alert-danger" *ngIf="nombre.touched && nombre.invalid">
        Nombre es Requerido
      </div>
    </div>

    <div class="form-group">
      <label for="cedula">Nro De Cedula </label>
      <input type="text" name="cedula" ngModel #cedula="ngModel" for="cedula" class="form-control" required>
      <div class="alert alert-danger" *ngIf="cedula.touched && cedula.invalid">
        El Numero de Cedula es requerido
      </div>
    </div>
    <div class="form-group">
        <label for="ndt">Nro telefonico</label>
    
        <select class="form-control"   >
            <option value="0414">0414</option>
            <option value="0424">0424</option>
            <option value="0416">0416</option>
            <option value="0426">0426</option>
            <option value="0412">0412</option>
            <option value="0412">0286</option>
            </select>
            
       <input class="form-control"  data-val="true"  name="ndt" ngModel #ndt="ngModel" for="ndt"  required placeholder="Nro de Telefono 7 digitos  " maxlength="7" minlength="7"  type="text" value="">
            
        <div class="alert alert-danger" *ngIf="ndt.touched && ndt.invalid">
          Nro de telefono es Requerido Ingrese solo numeros
        </div>
      </div>

      

    <h2>Registrar Pago</h2>

    <button *ngIf="!toggleFlag2" class="btn btn-primary" type="button" (click)="onToggle1()">Transferencia</button>
    <button *ngIf="!toggleFlag1" class="btn btn-primary" type="button" (click)="onToggle2()">Pago Movil</button>
       
   <ng-template [ngIf]="toggleFlag1">
    <div class="form-group">
      <label for="bank">Banco</label>
      <input type="text" name="bank" ngModel #bank="ngModel" for="bank" class="form-control" required placeholder="Banco al cual transfirio">
      <div class="alert alert-danger" *ngIf="bank.touched && bank.invalid">
        El Banco es Requerido
      </div>
    </div>
    <div class="form-group">
        <label for="monto">Monto </label>
        <div class="input-group">
            <span class="input-group-addon"></span>
            <input  ngModel #monto="ngModel" name="monto" type="number" class="form-control" id="monto" required [min]="4" placeholder="Monto total de Factura ">
    
          </div>
          <div class="alert alert-danger" *ngIf="monto.touched && monto.invalid">
              <div *ngIf="monto.errors.required">El Monto de la factura es Requerido .</div>
              <div *ngIf="monto.errors.min"> Deberian ser Numeros .</div>
            </div>
      </div>
      <div class="form-group">
        <label for="ndr">Nro de Referencia </label>
        <div class="input-group">
            <span class="input-group-addon"></span>
            <input  ngModel #ndr="ngModel" name="ndr" type="text" class="form-control" id="ndr" minlength="4"  maxlength="9"  required  placeholder="Nro de Referencia  ">
    
          </div>
          <div class="alert alert-danger" *ngIf="ndr.touched && ndr.invalid">
              <div *ngIf="ndr.errors.required">Nro de Referencia es Requerido .</div>
              <div *ngIf="ndr.errors.min"> deberian ser los ultimos 4 digitos.</div>
            </div>
      </div>
      <div class="form-group">
  <label for="fecha">Fecha</label>
  <div class="input-group">
    <span class="iput-group-addon"></span>
    <input type="date" name="fecha" ngModel #fecha="ngModel" class="form-control" id="fecha" required >
  </div>
  <div class="alert alert-danger" *ngIf="ndr.touched && ndr.invalid">
    <div *ngIf="fecha.errors.required">Nro de Referencia es Requerido .</div>
    <div *ngIf="fecha.errors.min"> deberian ser los ultimos 4 digitos.</div>
  </div>
      </div>
      
  </ng-template>

  <!--pago movil-->
  <ng-template [ngIf]="toggleFlag2">
  
  <div class="form-group">
    <label for="telf">Nro Telefono Pagador</label>
    <div class="input-group">
      <span class="input-group-addon"></span>
      <input  type="tel" ngModel #telf="ngModel" name="telf" for="telf" class="form-control" required>
    </div>
    <div class="alert alert-danger" *ngIf="telf.touched && telf.invalid">
        <div *ngIf="telf.errors.required">Nro de Referencia es Requerido .</div>
        <div *ngIf="telf.errors.min"> deberian ser los ultimos 4 digitos.</div>
      </div>
  </div>
    <div class="form-group">
      <label for="monto">Monto </label>
      <div class="input-group">
          <span class="input-group-addon"></span>
          <input  ngModel #monto="ngModel" name="monto" type="number" class="form-control" id="monto" required [min]="4" placeholder="Monto total de Factura ">
  
        </div>
        <div class="alert alert-danger" *ngIf="monto.touched && monto.invalid">
            <div *ngIf="monto.errors.required">El Monto de la factura es Requerido .</div>
            <div *ngIf="monto.errors.min"> Deberian ser Numeros .</div>
          </div>
    </div>
    <div class="form-group">
      <label for="ndr">Nro de Referencia </label>
      <div class="input-group">
          <span class="input-group-addon"></span>
          <input  ngModel #ndr="ngModel" name="ndr" type="text" class="form-control" id="ndr" minlength="4"  maxlength="9"  required  placeholder="Nro de Referencia  ">
  
        </div>
        <div class="alert alert-danger" *ngIf="ndr.touched && ndr.invalid">
            <div *ngIf="ndr.errors.required">Nro de Referencia es Requerido .</div>
            <div *ngIf="ndr.errors.min"> deberian ser los ultimos 4 digitos.</div>
          </div>
    </div>
    <div class="form-group">
<label for="fecha">Fecha</label>
<div class="input-group">
  <span class="iput-group-addon"></span>
  <input type="date" name="fecha" ngModel #fecha="ngModel" class="form-control" id="fecha" required >
</div>
<div class="alert alert-danger" *ngIf="ndr.touched && ndr.invalid">
  <div *ngIf="fecha.errors.required">Nro de Referencia es Requerido .</div>
  <div *ngIf="fecha.errors.min"> deberian ser los ultimos 4 digitos.</div>
</div>
    </div>
  </ng-template>
  <hr>
    <div class="form-group">
      <button class="btn btn-primary" [disabled]="checkOutForm.invalid || disableBtn">Pagar</button>
    </div>

  </form>
