<!-- Footer -->
<section class="section-padding footer bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-md-3">
             <h4 class="mb-5 mt-0"><a class="logo" ><img src="/assets/imagenes/logoMercaF.png" alt="Merca Movil"></a></h4>
             <p class="mb-0"><a class="text-dark" href="#"><i class="mdi mdi-phone"></i> {{infop.info.celu}}</a></p>
             <p class="mb-0"><a class="text-dark" href="#"><i class="mdi mdi-cellphone-iphone">{{infop.info.telf}}</i> </a></p>
             <p class="mb-0"><a class="text-success" href="#"><i class="mdi mdi-email"></i>{{infop.info.email}}</a></p>
             <p class="mb-0"><a class="text-primary" href="#"><i class="mdi mdi-web"></i> https://mercamovil.web.app</a></p>
          </div>
          <div class="col-lg-2 col-md-2">
          
               <h6 class="mb-4">EMPRESA</h6>
             <ul>
             <li> <a [routerLink]="[ '/home' ]">Home </a></li>
             <li><a [routerLink]="[ '/Productos' ]">Tienda</a></li>
             <li><a [routerLink]="[ '/como-pagar' ]">Preguntas</a></li>
             <li><a [routerLink]="[ '/contacto']">Contacto</a></li>
         
             
             </ul>
          </div>
          <div class="col-lg-2 col-md-2">
             <h6 class="mb-4">LEGAL</h6>
             <ul>
               <li><a href="#">Copyright</a></li>
             <li><a href="#">Declaimer</a></li>
             <li><a href="#">Politicas</a></li>
             
             </ul>
          </div>
          <div class="col-lg-2 col-md-2">
             <h6 class="mb-4">MAS</h6>
             <ul>
             <li><a href="#">Información de la Compañia </a></li>
             <li><a href="#">Empleo</a></li>
             <li><a href="#">Ubicación</a></li>
             
            
             </ul>
          </div>
          <div class="col-lg-3 col-md-3">
             <h6 class="mb-4">Pronto La App Para Android</h6>
             <div class="app">
                <a href="#"><img src="assets/imagenes/appmo/google.png" alt=""></a>
                <a href="#"><img src="assets/imagenes/appmo/apple.png" alt=""></a>
             </div>
             <h6 class="mb-3 mt-4">Nuestra Redes Sociales Comparte</h6>
             <div class="footer-social">
                <a class="btn-facebook" href="#"><i class="mdi mdi-facebook"></i></a>
                <a class="btn-twitter" href="#"><i class="mdi mdi-twitter"></i></a>
                <a class="btn-instagram" href="#"><i class="mdi mdi-instagram"></i></a>
                <a class="btn-whatsapp" href="#"><i class="mdi mdi-whatsapp"></i></a>
                <a class="btn-messenger" href="#"><i class="mdi mdi-facebook-messenger"></i></a>
                <a class="btn-google" href="#"><i class="mdi mdi-google"></i></a>
             </div>
          </div>
       </div>
    </div>
  </section>
  <!-- End Footer -->
  <!-- Copyright -->
  <section class="pt-4 pb-4 footer-bottom">
    <div class="container">
       <div class="row no-gutters">
          <div class="col-lg-6 col-sm-6">
             <p class="mt-1 mb-0">&copy; Copyright {{getAnio()}}  <strong class="text-dark">{{infop.info.titulo}}</strong>Todos los derechos Reservados <br>
     <small class="mt-0 mb-0">Hecho con  <i class="mdi mdi-heart text-danger"></i> por <a href="https://devsigns.web.app" target="_blank" class="text-primary">Devsigns</a>
             </small>
     </p>
          </div>
          <div class="col-lg-6 col-sm-6 text-right">
             <img alt="mercamovil" src="#">
          </div>
       </div>
    </div>
  </section>
  <!-- End Copyright -->
  
  <!--CARRITO IMPLEMENTAR COMPONENTE -->
 