<!-- Footer -->
<section class="section-padding footer bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-md-3">
             <h4 class="mb-5 mt-0"><a class="logo" href="http://askbootstrap.com/preview/osahan-grocery/index.html"><img src="http://askbootstrap.com/preview/osahan-grocery/img/logo-footer.png" alt="Osahan Grocery"></a></h4>
             <p class="mb-0"><a class="text-dark" href="#"><i class="mdi mdi-phone"></i> +61 525 240 310</a></p>
             <p class="mb-0"><a class="text-dark" href="#"><i class="mdi mdi-cellphone-iphone"></i> 12345 67890, 56847-98562</a></p>
             <p class="mb-0"><a class="text-success" href="#"><i class="mdi mdi-email"></i> iamosahan@gmail.com</a></p>
             <p class="mb-0"><a class="text-primary" href="#"><i class="mdi mdi-web"></i> www.askbootstrap.com</a></p>
          </div>
          <div class="col-lg-2 col-md-2">
             <h6 class="mb-4">TOP CITIES </h6>
             <ul>
             <li><a href="#">New Delhi</a></li>
             <li><a href="#">Bengaluru</a></li>
             <li><a href="#">Hyderabad</a></li>
             <li><a href="#">Kolkata</a></li>
             <li><a href="#">Gurugram</a></li>
             </ul>
          </div>
          <div class="col-lg-2 col-md-2">
             <h6 class="mb-4">CATEGORIA</h6>
             <ul>
             <li><a href="#">Vegetables</a></li>
             <li><a href="#">Grocery & Staples</a></li>
             <li><a href="#">Breakfast & Dairy</a></li>
             <li><a href="#">Soft Drinks</a></li>
             <li><a href="#">Biscuits & Cookies</a></li>
             </ul>
          </div>
          <div class="col-lg-2 col-md-2">
             <h6 class="mb-4">CONOCENOS</h6>
             <ul>
             <li><a href="#">Company Information</a></li>
             <li><a href="#">Careers</a></li>
             <li><a href="#">Store Location</a></li>
             <li><a href="#">Affillate Program</a></li>
             <li><a href="#">Copyright</a></li>
             </ul>
          </div>
          <div class="col-lg-3 col-md-3">
             <h6 class="mb-4">Download App</h6>
             <div class="app">
                <a href="#"><img src="http://askbootstrap.com/preview/osahan-grocery/img/google.png" alt=""></a>
                <a href="#"><img src="http://askbootstrap.com/preview/osahan-grocery/img/apple.png" alt=""></a>
             </div>
             <h6 class="mb-3 mt-4">GET IN TOUCH</h6>
             <div class="footer-social">
                <a class="btn-facebook" href="#"><i class="mdi mdi-facebook"></i></a>
                <a class="btn-twitter" href="#"><i class="mdi mdi-twitter"></i></a>
                <a class="btn-instagram" href="#"><i class="mdi mdi-instagram"></i></a>
                <a class="btn-whatsapp" href="#"><i class="mdi mdi-whatsapp"></i></a>
                <a class="btn-messenger" href="#"><i class="mdi mdi-facebook-messenger"></i></a>
                <a class="btn-google" href="#"><i class="mdi mdi-google"></i></a>
             </div>
          </div>
       </div>
    </div>
  </section>
  <!-- End Footer -->
  <!-- Copyright -->
  <section class="pt-4 pb-4 footer-bottom">
    <div class="container">
       <div class="row no-gutters">
          <div class="col-lg-6 col-sm-6">
             <p class="mt-1 mb-0">&copy; Copyright 2018 <strong class="text-dark">Osahan Grocery</strong>. All Rights Reserved<br>
     <small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by <a href="https://askbootstrap.com/" target="_blank" class="text-primary">Ask Bootstrap</a>
             </small>
     </p>
          </div>
          <div class="col-lg-6 col-sm-6 text-right">
             <img alt="osahan logo" src="http://askbootstrap.com/preview/osahan-grocery/img/payment_methods.png">
          </div>
       </div>
    </div>
  </section>
  <!-- End Copyright -->
  
  <!--CARRITO IMPLEMENTAR COMPONENTE -->
 