<h2>A Donde lo Enviamos  </h2>

<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="cart.totalItemCount > 0; else noCart">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <shipping-form [cart]='cart'></shipping-form>
      </div>
      
      <div class="col-md-6 col-sm-12">
        <shopping-cart-summary [cart]='cart'></shopping-cart-summary>
<hr>
<div class="card card-body">
  <div class="accordion" id="accordionExample">
     <div class="card mb-0">
        <div class="card-header" id="headingOne">
           <h5 class="mb-0">
              <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="icofont icofont-question-square"></i> <Strong> Directorio Bancos para Realizar Transferencias </Strong>
              </a>
           </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
         
           <div class="card-body">
               <h5 class="mb-0" >A Nombre  <Strong>Multivariedades Hermanos Peraza Rif J-317513347</Strong></h5>
               
              <hr>
              Banco Benesco Nro  0134-0348-1434-8108-7381
              <hr>
              Banco de Venezuela Nro 0102-0476-3200-0008-9568
           </div>
        </div>
     </div>
     <div class="card mb-2 mt-2">
        <div class="card-header" id="headingTwo">
           <h5 class="mb-0">
              <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="icofont icofont-question-square"></i><strong>Datos para Registrar Pago Movil </strong> 
              </a>
           </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
           <div class="card-body">
            <hr>
            No Disponible por ahora 
            <hr>
          
           </div>
        </div>
     </div>
     
  </div>
</div>
      </div>
    </div>
  </ng-container>

  <ng-template #noCart>
    <p>No tienes ningun Producto en el Carrito</p>
  </ng-template>

</ng-container>
