<div class="row">
  <div class="col-md-12 col-sm-12">
     
    <ng-container *ngIf="order$ | async as order">
      <ng-container *ngIf="order.items" ; else notFound>
        <div class="card">
          <div class="card-body">
            <button class="fix btn btn-info" [routerLink]="[ '/myorders' ]">Regresar</button>
            <h4 class="card-title text-center">Detalle De la Compra</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="font-weight-bold">Id Usuario:</span> {{order.user.userId}}
                  </li>
              <li class="list-group-item">
                <span class="font-weight-bold">Nombre o Email del Cliente:</span> {{order.user.username}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold">Email del Cliente:</span> {{order.user.useremail}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold">Fecha de la Compra:</span> {{order.datePlaced | date}}
              </li>
              <li class="list-group-item"><span class="font-weight-bold"> Id Orden:   </span>{{orderId}}
              <li class="list-group-item"><span class="font-weight-bold"> Su  Orden:   </span>
                
                <div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of order.items">
                      {{item.product.title}} x {{item.qty}} ({{item.price }})
                      <div class="float-right"> Bs.{{item.totalPrice}}</div>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold">Total: </span>
                        <div class="float-right">Bs.{{order.netPrice }}</div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="list-group-item"><span class="font-weight-bold">Datos para Entrega :</span>
                <div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Nombre : {{order.shipping.nombre}}</li>
                    <li class="list-group-item"> Cedula: {{order.shipping.cedula}}</li>
                    <li class="list-group-item"> Direccion linea 1 : {{order.shipping.addressLine1}}</li>
                    <li class="list-group-item"> Nro de Telefono : {{order.shipping.ndt}}</li>
                    
                    
                    
                  </ul>
                </div>
              </li>
              <li class="list-group-item"><span class="font-weight-bold">Datos de Pago Realizado :</span>
                <div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Banco: {{order.shipping.bank}}</li>
                    <li class="list-group-item">Bs : {{order.shipping.monto}}</li>
                    <li class="list-group-item"> Nro de Referencia  : {{order.shipping.ndr}}</li>
                    <li class="list-group-item"> Nro de Telefono  pagador: {{order.shipping.telf}}</li>
                    
                    
                    
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          
        </div>

<!--     
        <ng-container *ngIf="appUser.isAdmin">
          <button type="button" (click)="estado='success'" class="btn btn-outline-primary">Cambiar Estado</button>
        </ng-container>
  
  
  <div [ngSwitch]="estado">
  
    <div *ngSwitchCase="'success'">
    
    </div>
    <div *ngSwitchCase="info">
    
    </div>
    <div *ngSwitchCase="warning">
    
    </div>
    <div *ngSwitchDefault>info
    </div>
    
    </div>
    
    
    <div [ngSwitch]="estado">
    <div *ngSwitchCase="'success'" class="alert arlet-success" role="alert">
    <strong>Entregado</strong>El pedido se entrego con exito si desea borre el pedido
    </div>
    
    <div *ngSwitchCase="info" class="alert arlet-info" role="info">
      <strong>En Proceso</strong>El pedido esta en proceso de entrega 
      </div>
    
      <div *ngSwitchCase="warning" class="alert arlet-warning" role="warning">
        <strong>En conflicto</strong>El pedido esta en conflicto si gusta comuniquese con nosotros 
        </div>
    
        <div *ngSwitchDefault  class="alert alert-alert" role="alert">
          <strong>Recibido</strong>El pedido se recibio con exito  
          
          </div>
    </div>

-->

      </ng-container> 

     
  
      <ng-template #notFound>
        Opps! No se Encontraron Detalles
      </ng-template>
    </ng-container>
  </div>
  
</div>

<hr>

